html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	background-color: lightgrey;
}

#main {
	display: flex;
	justify-content: center;
}

#main > div {
	width: 40%;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#left {
	text-align: right;
	border-right: 1px solid black;
}

#left > div {
	font-size: 125%;
}

#left > div > span {
	font-variant: small-caps;
}

#right {
	text-align: left;
}

#right > div {
	margin-bottom: 1.5em;
}

#right > div::first-line {
	font-weight: 800;
	text-transform: uppercase;
}
