@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


html {
	background: #f7f3e9;
	font-family: 'Noto Sans', sans-serif;
}
body {
	margin: auto;
	width: 800px;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
img {
	display: block;
}


nav {
	text-align: right;
	margin-top: 1rem;
}

header {
	height: 120px;
	background-image: radial-gradient(#999 1px, transparent 0);
	background-size: 4px 4px;
	margin: 1rem 0 4rem 0;

	display: flex;
	align-items: center;
}
header h1 {
	margin: 0;
	padding: 0 1.5rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
}


a.project-link {
	display: block;
	margin: 2rem 0;
	text-align: center;
}
a.project-link p {
	margin-top: .5em;
}

img.project-logo {
	margin: auto;
	max-width: 100%;
	height: 80px;
}

section.intro {
	font-family: 'Merienda', sans-serif;
	margin: 3rem auto;
	padding: .75rem calc(12% - 2rem);
	border-left: 2rem solid #be8f3c;
	background-color: #be8f3c20;
}
section.intro p {
	line-height: 1.4em;
}

.progress-box {
	position: relative;
	height: 1rem;
	background: #fff;
	border: 1px solid #aaa;
}
.progressbar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.progress-marker { border-right: 1px solid #ccc; }
.progress-stage1 { background: #f81; }
.progress-stage2 { background: #29f; }
.progress-stage3 { background: #3c4; }

.progress-summary {
	width: 100%;
	margin: .5rem auto;
}
.progress-summary td:first-child { width: 40%; }
.progress-summary span.desc { font-size: 80%; color: #666; }

.progress-legend {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 80%;
}

.legend-box {
	width: 1em;
	height: 1em;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 0 .25em 0 1em;
}


footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 80%;
	margin: 12rem auto 2rem auto;
}
